:root {
    /*Primary Colors*/
    --color-Bright-orange: hsl(31, 77%, 52%);
    --color-Dark-cyan: hsl(184, 100%, 22%);
    --color-Very-dark-cyan: hsl(179, 100%, 13%)
}

body {
    display: flex;
    background-color: hsla(0, 0%, 100%, 0.75) ;
    min-height: 100vh; 
    justify-content: center;
    align-items: center;
    font-size: 15px;
}


.container {
    display: flex;
    flex-direction: row;
    


}

.card {
    display: flex;  
    width: 290px;
    height: 475px;
    overflow: hidden;
    justify-content: center;
    
    flex-direction: column;
    

}

.sedans {

    background: var(--color-Bright-orange);

}

.suvs {
    background: var(--color-Dark-cyan);
}

.luxury {
    background: var(--color-Very-dark-cyan);
}
h1,p,button{
    margin: 20px;
}
h1{
    font-family: 'Big Shoulders Display', cursive;   
    color: hsl(0, 0%, 95%);
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

button {
    background: hsl(0, 0%, 95%) ;
    color: hsl(184, 100%, 22%);
}
.logo {
    margin: 10px;
}


